.commandbar-user-launcher {
  font-family: "Avenir Next", sans-serif;
  min-width: 200px;
  width: 250px;
  position: relative;
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  line-height: 2;
  cursor: text;
}

.commandbar-user-launcher:hover {
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 3%) 0 3px 2px;
  transition: all 0.3s ease-in-out;
}

.commandbar-user-launcher__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commandbar-user-launcher__prefix {
  display: flex;
  align-items: center;
}

.commandbar-user-launcher__suffix {
  font-size: 12px;
}

.commandbar-user-launcher__tag {
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.2em 0.5em 0;
  margin: 0 0 -10px;
  min-width: 2em;
  height: 2em;
  background-color: rgba(170, 170, 180);
  color: white;
  border-radius: 5px;
}
