#commandbar-user-launcher-component {
  width: 250px;
  position: relative;
  padding: 4px 12px;
  color: #8792a2;
  background-color: #f7fafc;
  border-radius: 4px;
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.16);
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  line-height: 2;
  cursor: pointer;
}

#commandbar-user-launcher-component:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.16);
  color: #697386;
  transition: all 0.3s ease-in-out;
}
